.navbar {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 25px;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  gap: 10px;
}

.logo-img {
  width: 75px;
  filter: brightness(0.3);
}

.logo-main {
  font-size: 26px;
  font-weight: 800;
  color: #2c2c2c;
  letter-spacing: 1px;
}

.logo-sub {
  font-size: 12px;
  color: #4f4f4f;
}

.navbar-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-links li {
  font-size: 16px;
  color: #1f1f1f;
  cursor: pointer;
  transition: 0.2s ease;
}

.navbar-links li:hover {
  color: #ff5722;
  transform: translateY(-2px);
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-text {
  font-size: 15px;
  color: #1f1f1f;
}
.logout-btn{
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

.logout-btn {
  background: #ff5722;
  color: white;
}

.logout-btn:hover {
  background: #e64a19;
}

.login-btn,
.register-btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

.login-btn {
  background: #ff5722;
  color: white;
}

.login-btn:hover {
  background: #e64a19;
}

.register-btn {
  background: transparent;
  color: #ff5722;
  border: 1px solid #ff5722;
}


.register-btn:hover {
  background: #ff5722;
  color: white;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar {
    padding: 0 20px;
  }

  .logo-main {
    font-size: 22px;
  }
}