/* FULL PAGE BACKGROUND */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-dark-page {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at top, #a8a884, #68ccdd);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

/* AUTH CARD */
.auth-dark-card {
  width: 380px;
  padding: 40px;
  background: rgba(39, 38, 17, 0.8);
  border-radius: 18px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(13, 211, 211, 0.705);
  box-shadow: 0 0 20px rgba(104, 190, 137, 0.2);
  text-align: center;
  animation: fadeInUp 0.7s ease;
}

/* LOGO */
.auth-logo {
  width: 120px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 12px rgba(209, 156, 129, 0.4));
  animation: logoPop 0.7s ease;
}

/* TITLES */
.auth-title {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.auth-subtitle {
  color: #bbb;
  font-size: 14px;
  margin-bottom: 20px;
}

/* INPUTS */
.auth-input {
  width:85%;
  padding: 13px 15px;
  margin-top: 14px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 90, 0, 0.25);
  outline: none;
  color: white;
  font-size: 15px;
  transition: all 0.3s ease;
}

.auth-input::placeholder {
  color: #777;
}

.auth-input:focus {
  border-color: #ff5500;
  box-shadow: 0 0 12px rgba(255, 90, 0, 0.6);
}

/* BUTTON */
.auth-btn {
  width: 50%;
  padding: 13px;
  margin-top: 18px;
  background: linear-gradient(90deg, #ff6a00, #ff3b00);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 18px rgba(255, 80, 0, 0.7);
}

/* TEXT BELOW FORM */
.auth-bottom-text {
  margin-top: 15px;
  color: #aaa;
  font-size: 14px;
}

.auth-bottom-text span {
  color: #ff6a00;
  cursor: pointer;
  font-weight: 600;
}

.auth-bottom-text span:hover {
  text-decoration: underline;
}

/* ANIMATIONS */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes logoPop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
